---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: vrouterconfigs.vrouter.kojuro.date
spec:
  group: vrouter.kojuro.date
  names:
    kind: VRouterConfig
    listKind: VRouterConfigList
    plural: vrouterconfigs
    singular: vrouterconfig
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: VRouterConfig is the Schema for the vrouterconfigs API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VRouterConfigSpec defines the desired state of VRouterConfig.
            properties:
              command:
                type: string
              config:
                type: string
              save:
                type: boolean
            type: object
          status:
            description: VRouterConfigStatus defines the observed state of VRouterConfig.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
